@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
* {
  direction: rtl;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 5px;
  font-family: "Rubik", sans-serif;
}
body {
  margin: 0 10px 0 0;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-image: url("https://st3.depositphotos.com/13324256/19091/i/450/depositphotos_190910664-stock-photo-top-view-hosepipe-hand-rake.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.main-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 50vw;
  align-items: center;
  margin: 5px auto;
}
.main-nav a {
  text-decoration: none;
  color: green;
  background-color: lightgreen;
  border: 1px solid darkgreen;
  border-radius: 30px;
  font-size: 20px;
}
.main-nav a:hover {
  background-color: white;
}
.main-nav a:active {
  background-color: white;
}
h1 {
  text-align: center;
  font-size: 50px;
  color: lightgray;
}
#about-us {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: auto;
  background-color: rgba(211, 211, 211, 0.65);
}
#about-us-gallery {
  display: flex;
  justify-content: space-around;
  overflow-x: scroll;
}
.store-imgs {
  width: 150px;
  height: auto;
}

footer {
  width: 51vw;
  background-color: rgba(211, 211, 211, 0.65);
}
#tb-footer,
table,
th,
td {
  text-align: center;
  border: 0.5px solid black;
  padding: 0;
}
#footer-2 {
  display: flex;
  justify-content: space-between;
}
#contact-us-form {
  width: 40vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(211, 211, 211, 0.65);
  margin: 15px auto;
  box-sizing: border-box;
  box-shadow: 3px 3px 16px 0px rgba(98, 98, 98, 1);
}
#store-main-flex {
  width: 95vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#store-main-flex > div {
  width: 30vw;
  background-color: rgba(211, 211, 211, 0.65);
  overflow: hidden;
}

